// Do not remove reset import statement
@import "reset";
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,500");

$body-bg: #D2D2D2;

body {
  background: $body-bg;
  font-family: Lato;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  h1 {
    font-size: 80px;
    font-weight: 300;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    transition: .5s linear;
    &:hover {
      color: blue;
    }
  }
}
